@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Sans:ital,wght@0,400;1,200&family=Kanit:ital,wght@0,300;0,400;1,400&family=Montserrat:wght@100;200&family=Nanum+Myeongjo:wght@400;800&family=Oswald:wght@200;500&family=Ysabeau+Infant:ital,wght@0,200;0,300;0,500;1,1;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background: rgb(74, 75, 83);
  background: linear-gradient(
    276deg,
    rgba(74, 75, 83, 1) 70%,
    rgba(16, 16, 17, 0.9780287114845938) 100%
  );
  font-family: "Kanit";
}

/* Navbar */
.Header-section {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5px 30px;
  box-shadow: 0 10px 27px rgba(0, 0, 0.7);
  position: fixed;
  width: 100%;
  /* background-color: white; */
  background-image: url(./img/imagen1.jpeg);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
}
.Nav-section ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.Img-logo {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: 1px solid rgb(rgba(56, 117, 41, 0.623));
}

.Nav-section {
  display: flex;
}
.Nav-section i {
  font-size: 30px;
  display: none;
  cursor: pointer;
}
#menu-hamburguesa {
  display: none;
}
.nav-a {
  color: #c4cdd3;
  font-weight: 900;
  font-size: 20px;
}
@media (max-width: 768px) {
  main {
    justify-content: center;
    flex-direction: column;
  }
  footer {
    justify-content: center;
    flex-direction: column;
  }
  .Nav-section i {
    display: block;
  }
  #menu-hamburguesa:checked ~ .Ul-section {
    display: flex;
  }

  .Nav-section ul {
    background: rgb(255, 255, 255);
    width: 100%;
    height: calc(100vh - 90px);
    position: absolute;
    display: none;
    top: 90px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #hero-section {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info h1 span {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info {
    justify-content: center;
    flex-direction: column;
  }
  /*  */
  #Info-section {
    justify-content: center;
    flex-direction: column;
  }
  #Info-section h2 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Info-card {
    justify-content: center;
    flex-direction: column;
  }
  .Info-conteiner-card {
    justify-content: center;
    flex-direction: column;
  }
}
/* HERO */
main {
  background: rgb(74, 75, 83);
  background: linear-gradient(
    276deg,
    rgba(74, 75, 83, 1) 70%,
    rgba(16, 16, 17, 0.9780287114845938) 100%
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color: white;
}
#hero-section {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  padding: 50px 0.5px;
  max-width: 1200px;
  align-items: center;
  background-image: url(./img/imagen4.jpeg);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.Hero-info {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}
.Hero-info h1 {
  font-size: 38px;
  min-width: 500px;
  width: 75%;
  color: #0b4772;
}
.Hero-boton a {
  background-color: #07253b;
  border-radius: 10px;
  color: #8d8aa0;
  padding: 5px 10px;
  font-family: "Oswald";
  flex-direction: row;
}
.Hero-info h1 span {
  color: black;
}
.Hero-info p {
  width: 75%;
  font-size: 20px;
  color: #ffffff;
}
/* CARD-SECTION */
#Info-section {
  max-width: 1200px;
  margin-top: 40px;
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
#Info-section h2 {
  font-size: 45px;
  font-weight: 900;
  color: #07253b;
}
.Info-card p {
  align-items: center;
  font-size: 14px;
  color: #8d8aa0;
}
.Info-card h3 {
  color: black;
  font-size: 23px;
}

.Info-card {
  width: 325px;
  height: 350px;
  background: rgb(49, 67, 199);
  background: linear-gradient(
    276deg,
    rgba(49, 67, 199, 0.7987570028011204) 0%,
    rgba(16, 16, 17, 0.9780287114845938) 100%
  );
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid #000000;
}
.Info-card img {
  width: 100px;
  height: 100px;
}
.Info-conteiner-card {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}
footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    276deg,
    rgb(0, 0, 0) 70%,
    rgba(7, 7, 7, 0.978) 100%
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color: #07253b;
  padding: 20px 70px;
  margin-top: 20px;
}
.footer-section {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}
footer h4 {
  font-size: 25px;
}
.footer-section img {
  width: 30px;
  height: 30px;
}

.footer-section p {
  font-size: 15px;
}
.footer-list li {
  display: inline-flex;
  gap: 15px;
}

.Form-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 90px;
  padding: 50px 0.5px;
  max-width: 1200px;
  align-items: center;
  width: 100%;
}
.Form-section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px 70px;
}
.Form-conteiner {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
button {
  background-color: #07253b;
  border-radius: 10px;
  color: #8d8aa0;
  padding: 5px 10px;
  font-family: "Oswald";
  flex-direction: row;
}
/* MEDIAQUERIES */
@media (max-width: 992px) {
  main {
    justify-content: center;
    flex-direction: column;
  }
  footer {
    justify-content: center;
    flex-direction: column;
  }
  .Form-section {
    justify-content: center;
    flex-direction: column;
  }
  .Form-conteiner {
    justify-content: center;
    flex-direction: column;
  }
  #hero-section {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info h1 span {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info {
    justify-content: center;
    flex-direction: column;
  }
  #Info-section {
    justify-content: center;
    flex-direction: column;
  }
  #Info-section h2 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Info-card {
    justify-content: center;
    flex-direction: column;
  }
  .Info-conteiner-card {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  main {
    justify-content: center;
    flex-direction: column;
  }
  footer {
    justify-content: center;
    flex-direction: column;
  }
  .Form-section {
    justify-content: center;
    flex-direction: column;
  }
  .Form-conteiner {
    justify-content: center;
    flex-direction: column;
  }
  #hero-section {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info h1 span {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info {
    justify-content: center;
    flex-direction: column;
  }
  #Info-section {
    justify-content: center;
    flex-direction: column;
  }
  #Info-section h2 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Info-card {
    justify-content: center;
    flex-direction: column;
  }
  .Info-conteiner-card {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  #hero-section {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info h1 {
    min-width: 200px;
    font-size: 34px;
  }
  .Hero-info p {
    font-size: 15px;
  }
  #Info-section {
    justify-content: center;
    flex-direction: column;
  }
  #Info-section h2 {
    justify-content: center;
    align-items: center;
  }
  footer {
    justify-content: center;
    flex-direction: column;
  }
  .Form-section {
    justify-content: center;
    flex-direction: column;
  }
  .Form-conteiner {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 680px) {
  #hero-section {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info h1 {
    min-width: 200px;
    font-size: 34px;
  }
  .Hero-info p {
    font-size: 15px;
  }
  #Info-section {
    justify-content: center;
    flex-direction: column;
  }
  #Info-section h2 {
    justify-content: center;
    align-items: center;
  }
  footer {
    justify-content: center;
    flex-direction: column;
  }
  .Form-section {
    justify-content: center;
    flex-direction: column;
  }
  .Form-conteiner {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  #hero-section {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info h1 {
    min-width: 200px;
    font-size: 30px;
  }
  .Hero-boton a {
    flex-direction: column;
    font-size: 10px;
  }
  .Hero-info p {
    font-size: 13px;
  }
  #Info-section {
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
  #Info-section h2 {
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  .Info-card {
    width: 300px;
    height: 325px;
  }
  .Info-card p {
    font-size: 12px;
  }
  .Info-card h3 {
    font-size: 16px;
  }
  .Info-card img {
    width: 70px;
    height: 70px;
  }
  footer {
    justify-content: center;
    flex-direction: column;
  }
  .Form-section {
    justify-content: center;
    flex-direction: column;
  }
  .Form-conteiner {
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  #hero-section {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info {
    justify-content: center;
    flex-direction: column;
  }
  .Hero-info h1 {
    min-width: 200px;
    font-size: 30px;
  }
  .Hero-boton a {
    flex-direction: column;
    font-size: 10px;
  }
  .Hero-info p {
    font-size: 13px;
  }
  #Info-section {
    justify-content: center;
    flex-direction: column;
    padding: 0, 5px;
  }
  #Info-section h2 {
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
  .Info-card {
    width: 300px;
    height: 325px;
  }
  .Info-card p {
    font-size: 12px;
  }
  .Info-card h3 {
    font-size: 16px;
  }
  .Info-card img {
    width: 70px;
    height: 70px;
  }
  footer {
    justify-content: center;
    flex-direction: column;
  }
  .Form-section {
    justify-content: center;
    flex-direction: column;
  }
  .Form-conteiner {
    justify-content: center;
    flex-direction: column;
  }
}
